@import '../../styles/mixins';

.hamburger {
  position: fixed !important;
  //top: 1rem;
  top: 0;

  z-index: 1000;
  //left: calc(2rem - 8px);
  left: 0;
  background: $c-bg;
  padding: 1rem calc(2rem - 8px);
  width: 100%;

  @include res('lg') {
    //top: 4rem;
    //left: calc(4rem - 8px);
    width: auto;
    background: none;
    padding: 4rem calc(4rem - 8px);
  }
}

.nav {
  z-index: 500;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  transition: transform 250ms ease-in-out;
  background: rgba($c-bg, 0.85);

  transform: translateX(-100%);

  &.open {
    transform: translateX(0);
  }

  @include res('lg') {
    padding: 4rem;
  }

  ul {
    list-style: none;

    > li {

      li {
        margin-left: 1rem;

        > a {
          font-size: 1rem;
          padding-top: 0;
        }
      }

      > a {
        font-size: 1.5rem;
        position: relative;
        padding: 1rem 0;
        transition: transform 100ms ease-in-out;
        display: inline-block;

        &::before {
          content: '>';
          position: absolute;
          right: calc(100% + .5rem);
          transform: scale(0);
          transition: transform 100ms ease-in-out;
        }

        &:active, &:hover, &.active {
          cursor: pointer;
          transform: translateX(.5rem);

          &::before {
            transform: scale(1);
          }
        }
      }

      //margin: 1rem 0;





    }
  }
}

.main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  //min-height: calc(100vh - 4rem);
  //padding: 4rem 0;

  > section {
    max-width: 80ch;
    padding: 6rem 2rem;
  }
}