@import '../../mixins';

.tic-tac-toe {

  text-align: center;

  &_row {
    display: flex;
  }


  $fieldSize: 4rem;
  &_field {
    height: $fieldSize;
    width: $fieldSize;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $c-line;
    font-size: 2rem;

    &.isWinning {
      border-color: $c-pri;
      color: $c-pri;
      //transform: scale(1.1);
    }
  }

  &_info {
    display: inline-flex;
    text-align: center;
    margin: 1rem 0;
  }
}